{{(this.trackedData.setup 500)}}

<div class="display-flex">
  <h2>Glimmer</h2>
  <button type="button" {{on "click" this.trackedData.toggleSelections}}>
    {{#if this.trackedData.isSelectionRunning}}Stop{{else}}Start{{/if}} Update Loop
  </button>
  <button type="button" {{on "click" this.trackedData.toggleVisibles}}>
    {{#if this.trackedData.isFilteringRunning}}Stop{{else}}Include{{/if}} Filterings
  </button>
  <div>
    <p>
      Polylines: {{this.trackedData.routes.length}}
    </p>
  </div>
</div>
<Glimmer::EsriMap as |mapView|>
  <Glimmer::EsriGraphicsLayer @mapView={{mapView}} as |layer|>
    {{#each this.visibleRoutes as |route|}}
      <Glimmer::RouteGraphic @layer={{layer}} @routeData={{route}} />
    {{/each}}
  </Glimmer::EsriGraphicsLayer>
</Glimmer::EsriMap>